

<div class="editPrd">
    <form #frm="ngForm" (ngSubmit)="editProduct()">
      <div class="form-group">
        <label for="prdName">Name</label>
        <input type="text" #prdName="ngModel" [class.is-invalid]="prdName.invalid && prdName.touched" [class.is-valid]="prdName.valid" [(ngModel)]="prd.ProductName" required minlength="3" name="Name" id="prdName" class="form-control" placeholder="" aria-describedby="helpId">
        <small [hidden]="prdName.valid || prdName.untouched" id="helpId" class="text-muted">Name must be more than 3 letters</small>
      </div>
      <div class="form-group">
        <label for="prdQuantity">Quantity</label>
        <input type="number" [(ngModel)]="prd.QuantityPerUnit" required min="1" name="Quantity" id="prdQuantity" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="prdPrice">Price</label>
        <input type="number" [(ngModel)]="prd.UnitPrice" name="Price" required min="1" id="prdPrice" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>
      <div class="form-group">
        <label for="prdImg">Imag</label>
        <input type="url" [(ngModel)]="prd.Image" name="Price"  id="prdImg" class="form-control" placeholder="" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Help text</small>
      </div>

      <div class="form-group">
        <label for="catId">CategoryID</label>
        <select name="CatName" #catDDL [(ngModel)]="prd.CategoryID">
          <option *ngFor="let cat of CatgoryList" [value]="cat.ID">{{cat.CategoryName}}</option>
        </select>
        <small id="helpId" class="text-muted">Help text</small>
      </div>

      <button type="submit" [disabled]="frm.invalid"  class="btn btn-primary">Submit</button>
    </form>
  </div> 

